<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id, id: :employee_employee_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :employee_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :employee_last_name %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.number_field :telephone, id: :employee_telephone %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department, id: :employee_department %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :employee_title %>
  </div>

  <div class="field">
    <%= form.label :payrate %>
    <%= form.text_field :pay, id: :employee_pay %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :employee_start_date %>
  </div>

  <div class="field">
    <%= form.label :hospital_id %>
    <%= form.number_field :hospital_id, id: :employee_hospital_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
