<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Telephone</th>
      <th>Department</th>
      <th>Title</th>
      <th>Payrate</th>
      <th>Start date</th>
      <th>Hospital</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_id %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.telephone %></td>
        <td><%= employee.department %></td>
        <td><%= employee.title %></td>
        <td><%= employee.pay %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.hospital_id %></td>
        <td><%= link_to 'Show', employee %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a href="/">Home</a>
<a class="pjax" href="/admin/">admin</a>
