<h1>Rush Copley Medical Database</h1>
<header>


<h2>Home</h2>
<br>
<a class="pjax" href="/admin/">admin</a>
<br>
<a href="/users/sign_up">Sign up</a>
<br>
<a href="/users/sign_in">Sign in</a>
</header>
<body>
<ul>
<li>
<%= link_to 'employees', employees_path %>
</li>
<li>
<%= link_to 'health care providers', health_care_providers_path %>
</li>
<li>
<%= link_to 'hospital', hospitals_path %>
</li>
<li>
<%= link_to 'patients', patients_path %>
</li>
<li>
<%= link_to 'medical records', medical_records_path %>
</li>
</ul>
</body>
