<h1>home page</h1>
<a class="pjax" href="/admin/">admin</a>
<br>
<a href="/users/sign_up">Sign up</a>
<br>
<a href="/users/sign_in">Sign in</a>
<br>
<%= link_to 'employees', employees_path %>
<br>
<%= link_to 'health care providers', health_care_providers_path %>
<br>
<%= link_to 'hospital', hospitals_path %>
<br>
<%= link_to 'patients', patients_path %>
<br>
<%= link_to 'medical records', medical_records_path %>
