<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Reason</th>
      <th>Room num</th>
      <th>Hospital</th>
      <th>Entry</th>
      <th>Exit</th>
      <th>Medications</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.fname %></td>
        <td><%= patient.lname %></td>
        <td><%= patient.reason %></td>
        <td><%= patient.room_num %></td>
        <td><%= patient.hospital_id %></td>
        <td><%= patient.entry %></td>
        <td><%= patient.exit %></td>
        <td><%= patient.medications %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
