<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital:</strong>
  <%= @hospital.hospital_id %>
</p>

<p>
  <strong>Hospital name:</strong>
  <%= @hospital.hospital_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hospital.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hospital.state %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @hospital.telephone %>
</p>

<p>
  <strong>Hospital type:</strong>
  <%= @hospital.hospital_type %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
